Repository kotarella1110-sandbox/react-ts-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:text --fix, yarn lint:js --fix, yarn lint:css --fix

.lintstagedrc.json:

{
  "linters": {
    "docs/**": [
      "yarn lint:text --fix",
      "git add"
    ],
    "**/*.ts{,x}": [
      "yarn lint:js --fix",
      "git add"
    ],
    "**/*.{css,scss,html}": [
      "yarn lint:css --fix",
      "git add"
    ]
  },
  "ignore": [
    "/config/**/*.js",
    "/node_modules/**/*.ts"
  ]
}

Fixed npm-scripts
  package.json
  yarn.lock
Due: none

Added storybook
  .gitignore
  .storybook/addons.js
  .storybook/config.js
  .storybook/webpack.config.js
  package.json
  src/stories/index.stories.js
  yarn.lock
Due: none

Fixed components
  src/App/index.css
  src/App/index.stories.js
  src/App/index.test.tsx
  src/App/index.tsx
  src/App/logo.svg
  src/stories/index.stories.js
Due: yarn lint:js --fix, yarn lint:css --fix

Fixed npm-scripts
  .lintstagedrc.json
  .stylelintignore
  package.json
  tslint.json
Due: none

Added travis ci configure
  .travis.yml
  README.md
Due: none

Fixed npm-scripts
  package.json
Due: none

Added enzyme
  README.md
  package.json
  src/App/index.test.tsx
  src/setupTests.ts
  yarn.lock
Due: yarn lint:js --fix

Fixed components
  src/App/index.tsx
Due: yarn lint:js --fix

Added .env
  .env
Due: none

Fixed webpack config about storybook from awesome-typescript-loader to ts-loader
  .storybook/webpack.config.js
  package.json
  yarn.lock
Due: none

Added storybook addons and @types
  .storybook/addons.js
  .storybook/config.js
  ignore.d.ts
  package.json
  src/App/index.stories.js
  src/App/index.stories.tsx
  yarn.lock
Due: yarn lint:js --fix

Added storyshots addon https://github.com/storybooks/storybook/issues/887 https://github.com/storybooks/storybook/issues/1011
  package.json
  src/App/__snapshots__/index.stories.storyshot
  src/App/index.stories.tsx
  src/setupTests.ts
  src/storyshots.test.ts
  tslint.json
  yarn.lock
Due: yarn lint:js --fix

Added styled-components
  package.json
  src/App/__snapshots__/index.stories.storyshot
  src/App/index.css
  src/App/index.test.tsx
  src/App/index.tsx
  src/index.css
  src/index.tsx
  tslint.json
  yarn.lock
Due: yarn lint:js --fix, yarn lint:css --fix

Added typescript-styled-plugin https://github.com/styled-components/styled-components/issues/900
  package.json
  tsconfig.json
  yarn.lock
Due: none

Fixed tsconfig from allowJs to false
  tsconfig.json
Due: none

Added react-stubber
  .storybook/config.js
  ignore.d.ts
  package.json
  src/storyshots.test.ts
  yarn.lock
Due: yarn lint:js --fix

Fixed stylelint for styled-components
  .lintstagedrc.json
  .stylelintrc.json
  package.json
  public/.stylelintrc.json
  yarn.lock
Due: none

Added tslint-loader
  config-overrides.js
  images.d.ts
  package.json
  yarn.lock
Due: yarn lint:js --fix

Added stylelint-webpack-plugin
  config-overrides.js
  package.json
  yarn.lock
Due: none

Added babel-plugin-styled-components Jest でも styled-components の displayName を参照できるように修正 https://gist.github.com/mrlundis/ca809eea890fa9fd5d98facd51cde731
  config-overrides.js
  src/App/index.test.tsx
  src/__snapshots__/storyshots.test.ts.snap
  src/setupTests.ts
  tsconfig.test.json
Due: yarn lint:js --fix

Fixed rewired config コメントアウトしていた箇所の戻し
  config-overrides.js
Due: none

Added babel-plugin-require-context-hook
  .env
  package.json
  src/components/App/index.stories.tsx
  src/components/App/index.test.tsx
  src/components/App/index.tsx
  src/components/App/logo.svg
  src/components/index.tsx
  src/containers/index.tsx
  src/index.tsx
  src/setupTests.ts
  yarn.lock
Due: yarn lint:js --fix

Fixed Storybook settings
  .storybook/config.js
  src/__snapshots__/storyshots.test.ts.snap
  src/components/App/index.stories.tsx
Due: yarn lint:js --fix

Fixed test for App component
  src/components/App/index.test.tsx
Due: yarn lint:js --fix

Fixed rewired config
  config-overrides.js
Due: none

Fixed travis config
  .travis.yml
Due: none

Fixed webpack config for storybook rewired の変更内容を storybook にも適用
  .storybook/webpack.config.js
Due: none

Fixed storyshots config コンポーネントのストーリごとにファイルを __snapshots__ フォルダを作成するように修正 https://github.com/storybooks/storybook/issues/3483 https://github.com/storybooks/storybook/issues/887
  ignore.d.ts
  package.json
  src/components/App/__snapshots__/index.stories.storyshot
  src/storyshots.test.ts
  yarn.lock
Due: yarn lint:js --fix

Revert "Fixed tsconfig from allowJs to false"
  tsconfig.json
Due: none

Fixed ts config VSCode でエラーが発生しないように NODE_PATH=src に対応 https://stackoverflow.com/questions/42856054/how-do-i-tell-visual-studio-code-about-the-relative-path
  tsconfig.json
Due: none

Fixed rewired config require-context-hook プラグインの設定し忘れ
  config-overrides.js
Due: none

Fixed styled-components setting * TypeScript に対応 * テーマを追加
  .storybook/config.js
  src/components/App/index.tsx
  src/components/theme/index.ts
  src/components/theme/interface.ts
  src/index.tsx
  src/styled.ts
Due: yarn lint:js --fix

Fixed App component
  src/components/App/index.stories.tsx
  src/components/App/index.test.tsx
  src/components/App/index.tsx
  src/index.tsx
Due: yarn lint:js --fix

Added Jest file mock
  __mock__/fileMock.js
  config-overrides.js
  src/components/App/__snapshots__/index.stories.storyshot
Due: none

Added tslint-immutable
  package.json
  tslint.json
  yarn.lock
Due: none

Add renovate.json
  renovate.json
Due: none
